In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/KANAWADE AKSHAY/Downloads/train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.sample(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
834,835,0,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S
648,649,0,3,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C
640,641,0,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
805,806,0,3,"Johansson, Mr. Karl Johan",male,31.0,0,0,347063,7.7750,NaN,S
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.0250,NaN,S
739,740,0,3,"Nankoff, Mr. Minko",male,NaN,0,0,349218,7.8958,NaN,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.0500,NaN,S
486,487,1,1,"Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)",female,35.0,1,0,19943,90.0000,C93,S
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,NaN,S
487,488,0,1,"Kent, Mr. Edward Austin",male,58.0,0,0,11771,29.7000,B37,C
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.0,0,0,345783,9.5000,NaN,S
316,317,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,24.0,1,0,244367,26.0000,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.0,0,0,367231,7.7500,NaN,Q
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
579,580,1,3,"Jussila, Mr. Eiriik",male,32.0,0,0,STON/O 2. 3101286,7.9250,NaN,S
314,315,0,2,"Hart, Mr. Benjamin",male,43.0,1,1,F.C.C. 13529,26.2500,NaN,S

In [5]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.ndim

2

In [7]:
df[df['Embarked'] == 'C'].count

<bound method DataFrame.count of      PassengerId  Survived  Pclass  \
1              2         1       1
9             10         1       2
19            20         1       3
26            27         0       3
30            31         0       1
..           ...       ...     ...
866          867         1       2
874          875         1       2
875          876         1       3
879          880         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
26                             Emir, Mr. Farred Chehab    male   NaN      0
30                            Uruchurtu, Don. Manuel E    male  40.0      0
..                                                 ...     ...   ...    ...
866                       Duran y More, Miss. Asuncion  female  27.0      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch         Ticket     Fare Cabin Embarked
1        0       PC 17599  71.2833   C85        C
9        0         237736  30.0708   NaN        C
19       0           2649   7.2250   NaN        C
26       0           2631   7.2250   NaN        C
30       0       PC 17601  27.7208   NaN        C
..     ...            ...      ...   ...      ...
866      0  SC/PARIS 2149  13.8583   NaN        C
874      0      P/PP 3381  24.0000   NaN        C
875      0           2667   7.2250   NaN        C
879      1          11767  83.1583   C50        C
889      0         111369  30.0000  C148        C

[168 rows x 12 columns]>

In [8]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
df.shape

(891, 12)

In [10]:
df[df['Cabin'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [11]:
df.columns  #df.keys()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [13]:
# no of passenger in each class
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [14]:
df.groupby(['Name','Pclass','Ticket']).groups

{('Abbing, Mr. Anthony', 3, 'C.A. 5547'): Int64Index([845], dtype='int64'),
 ('Abbott, Mr. Rossmore Edward',
  3,
  'C.A. 2673'): Int64Index([746], dtype='int64'),
 ('Abbott, Mrs. Stanton (Rosa Hunt)',
  3,
  'C.A. 2673'): Int64Index([279], dtype='int64'),
 ('Abelson, Mr. Samuel', 2, 'P/PP 3381'): Int64Index([308], dtype='int64'),
 ('Abelson, Mrs. Samuel (Hannah Wizosky)',
  2,
  'P/PP 3381'): Int64Index([874], dtype='int64'),
 ('Adahl, Mr. Mauritz Nils Martin',
  3,
  'C 7076'): Int64Index([365], dtype='int64'),
 ('Adams, Mr. John', 3, '341826'): Int64Index([401], dtype='int64'),
 ('Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  3,
  '7546'): Int64Index([40], dtype='int64'),
 ('Aks, Mrs. Sam (Leah Rosen)', 3, '392091'): Int64Index([855], dtype='int64'),
 ('Albimona, Mr. Nassef Cassem', 3, '2699'): Int64Index([207], dtype='int64'),
 ('Alexander, Mr. William', 3, '3474'): Int64Index([810], dtype='int64'),
 ('Alhomaki, Mr. Ilmari Rudolf',
  3,
  'SOTON/O2 3101287'): Int64Index([840], dtype='int64'),
 ('Ali, Mr. Ahmed', 3, 'SOTON/O.Q. 3101311'): Int64Index([210], dtype='int64'),
 ('Ali, Mr. William',
  3,
  'SOTON/O.Q. 3101312'): Int64Index([784], dtype='int64'),
 ('Allen, Miss. Elisabeth Walton',
  1,
  '24160'): Int64Index([730], dtype='int64'),
 ('Allen, Mr. William Henry', 3, '373450'): Int64Index([4], dtype='int64'),
 ('Allison, Master. Hudson Trevor',
  1,
  '113781'): Int64Index([305], dtype='int64'),
 ('Allison, Miss. Helen Loraine',
  1,
  '113781'): Int64Index([297], dtype='int64'),
 ('Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
  1,
  '113781'): Int64Index([498], dtype='int64'),
 ('Allum, Mr. Owen George', 3, '2223'): Int64Index([834], dtype='int64'),
 ('Andersen-Jensen, Miss. Carla Christine Nielsine',
  3,
  '350046'): Int64Index([192], dtype='int64'),
 ('Anderson, Mr. Harry', 1, '19952'): Int64Index([460], dtype='int64'),
 ('Andersson, Master. Sigvard Harald Elias',
  3,
  '347082'): Int64Index([850], dtype='int64'),
 ('Andersson, Miss. Ebba Iris Alfrida',
  3,
  '347082'): Int64Index([813], dtype='int64'),
 ('Andersson, Miss. Ellis Anna Maria',
  3,
  '347082'): Int64Index([119], dtype='int64'),
 ('Andersson, Miss. Erna Alexandra',
  3,
  '3101281'): Int64Index([68], dtype='int64'),
 ('Andersson, Miss. Ingeborg Constanzia',
  3,
  '347082'): Int64Index([541], dtype='int64'),
 ('Andersson, Miss. Sigrid Elisabeth',
  3,
  '347082'): Int64Index([542], dtype='int64'),
 ('Andersson, Mr. Anders Johan', 3, '347082'): Int64Index([13], dtype='int64'),
 ('Andersson, Mr. August Edvard ("Wennerstrom")',
  3,
  '350043'): Int64Index([146], dtype='int64'),
 ('Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
  3,
  '347082'): Int64Index([610], dtype='int64'),
 ('Andreasson, Mr. Paul Edvin', 3, '347466'): Int64Index([91], dtype='int64'),
 ('Andrew, Mr. Edgardo Samuel', 2, '231945'): Int64Index([144], dtype='int64'),
 ('Andrews, Miss. Kornelia Theodosia',
  1,
  '13502'): Int64Index([275], dtype='int64'),
 ('Andrews, Mr. Thomas Jr', 1, '112050'): Int64Index([806], dtype='int64'),
 ('Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
  2,
  '226875'): Int64Index([518], dtype='int64'),
 ('Appleton, Mrs. Edward Dale (Charlotte Lamson)',
  1,
  '11769'): Int64Index([571], dtype='int64'),
 ('Arnold-Franchi, Mr. Josef', 3, '349237'): Int64Index([353], dtype='int64'),
 ('Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  3,
  '349237'): Int64Index([49], dtype='int64'),
 ('Artagaveytia, Mr. Ramon', 1, 'PC 17609'): Int64Index([493], dtype='int64'),
 ('Asim, Mr. Adola',
  3,
  'SOTON/O.Q. 3101310'): Int64Index([363], dtype='int64'),
 ('Asplund, Master. Clarence Gustaf Hugo',
  3,
  '347077'): Int64Index([182], dtype='int64'),
 ('Asplund, Master. Edvin Rojj Felix',
  3,
  '347077'): Int64Index([261], dtype='int64'),
 ('Asplund, Miss. Lillian Gertrud',
  3,
  '347077'): Int64Index([233], dtype='int64'),
 ('Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  3,
  '347077'): Int64Index([25], dtype='int64'),
 ('Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
  1,
  'PC 17757'): Int64Index([700], dtype='int64'),
 ('Attalah, Miss. Malake', 3, '2627'): Int64Index([114], dtype='int64'),
 ('Attalah, Mr. Sleiman', 3, '2694'): Int64Index([244], dtype='int64'),
 ('Aubart, Mme. Leontine Pauline',
  1,
  'PC 17477'): Int64Index([369], dtype='int64'),
 ('Augustsson, Mr. Albert', 3, '347468'): Int64Index([833], dtype='int64'),
 ('Ayoub, Miss. Banoura', 3, '2687'): Int64Index([780], dtype='int64'),
 ('Backstrom, Mr. Karl Alfred',
  3,
  '3101278'): Int64Index([206], dtype='int64'),
 ('Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  3,
  '3101278'): Int64Index([85], dtype='int64'),
 ('Baclini, Miss. Eugenie', 3, '2666'): Int64Index([644], dtype='int64'),
 ('Baclini, Miss. Helene Barbara',
  3,
  '2666'): Int64Index([469], dtype='int64'),
 ('Baclini, Miss. Marie Catherine',
  3,
  '2666'): Int64Index([448], dtype='int64'),
 ('Baclini, Mrs. Solomon (Latifa Qurban)',
  3,
  '2666'): Int64Index([858], dtype='int64'),
 ('Badt, Mr. Mohamed', 3, '2623'): Int64Index([661], dtype='int64'),
 ('Bailey, Mr. Percy Andrew', 2, '29108'): Int64Index([757], dtype='int64'),
 ('Balkic, Mr. Cerin', 3, '349248'): Int64Index([870], dtype='int64'),
 ('Ball, Mrs. (Ada E Hall)', 2, '28551'): Int64Index([327], dtype='int64'),
 ('Banfield, Mr. Frederick James',
  2,
  'C.A./SOTON 34068'): Int64Index([883], dtype='int64'),
 ('Barah, Mr. Hanna Assi', 3, '2663'): Int64Index([762], dtype='int64'),
 ('Barbara, Miss. Saiide', 3, '2691'): Int64Index([702], dtype='int64'),
 ('Barbara, Mrs. (Catherine David)',
  3,
  '2691'): Int64Index([362], dtype='int64'),
 ('Barber, Miss. Ellen "Nellie"',
  1,
  '19877'): Int64Index([290], dtype='int64'),
 ('Barkworth, Mr. Algernon Henry Wilson',
  1,
  '27042'): Int64Index([630], dtype='int64'),
 ('Barton, Mr. David John', 3, '324669'): Int64Index([112], dtype='int64'),
 ('Bateman, Rev. Robert James',
  2,
  'S.O.P. 1166'): Int64Index([150], dtype='int64'),
 ('Baumann, Mr. John D', 1, 'PC 17318'): Int64Index([168], dtype='int64'),
 ('Baxter, Mr. Quigg Edmond', 1, 'PC 17558'): Int64Index([118], dtype='int64'),
 ('Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
  1,
  'PC 17558'): Int64Index([299], dtype='int64'),
 ('Bazzani, Miss. Albina', 1, '11813'): Int64Index([218], dtype='int64'),
 ('Beane, Mr. Edward', 2, '2908'): Int64Index([543], dtype='int64'),
 ('Beane, Mrs. Edward (Ethel Clarke)',
  2,
  '2908'): Int64Index([546], dtype='int64'),
 ('Beavan, Mr. William Thomas', 3, '323951'): Int64Index([372], dtype='int64'),
 ('Becker, Master. Richard F', 2, '230136'): Int64Index([183], dtype='int64'),
 ('Becker, Miss. Marion Louise',
  2,
  '230136'): Int64Index([618], dtype='int64'),
 ('Beckwith, Mr. Richard Leonard',
  1,
  '11751'): Int64Index([248], dtype='int64'),
 ('Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
  1,
  '11751'): Int64Index([871], dtype='int64'),
 ('Beesley, Mr. Lawrence', 2, '248698'): Int64Index([21], dtype='int64'),
 ('Behr, Mr. Karl Howell', 1, '111369'): Int64Index([889], dtype='int64'),
 ('Bengtsson, Mr. John Viktor', 3, '347068'): Int64Index([162], dtype='int64'),
 ('Berglund, Mr. Karl Ivar Sven',
  3,
  'PP 4348'): Int64Index([225], dtype='int64'),
 ('Berriman, Mr. William John', 2, '28425'): Int64Index([733], dtype='int64'),
 ('Betros, Mr. Tannous', 3, '2648'): Int64Index([378], dtype='int64'),
 ('Bidois, Miss. Rosalie', 1, 'PC 17757'): Int64Index([380], dtype='int64'),
 ('Bing, Mr. Lee', 3, '1601'): Int64Index([74], dtype='int64'),
 ('Birkeland, Mr. Hans Martin Monsen',
  3,
  '312992'): Int64Index([408], dtype='int64'),
 ('Bishop, Mr. Dickinson H', 1, '11967'): Int64Index([484], dtype='int64'),
 ('Bishop, Mrs. Dickinson H (Helen Walton)',
  1,
  '11967'): Int64Index([291], dtype='int64'),
 ('Bissette, Miss. Amelia', 1, 'PC 17760'): Int64Index([269], dtype='int64'),
 ('Bjornstrom-Steffansson, Mr. Mauritz Hakan',
  1,
  '110564'): Int64Index([430], dtype='int64'),
 ('Blackwell, Mr. Stephen Weart',
  1,
  '113784'): Int64Index([339], dtype='int64'),
 ('Blank, Mr. Henry', 1, '112277'): Int64Index([209], dtype='int64'),
 ('Bonnell, Miss. Elizabeth', 1, '113783'): Int64Index([11], dtype='int64'),
 ('Bostandyeff, Mr. Guentcho', 3, '349224'): Int64Index([628], dtype='int64'),
 ('Boulos, Miss. Nourelain', 3, '2678'): Int64Index([852], dtype='int64'),
 ('Boulos, Mr. Hanna', 3, '2664'): Int64Index([598], dtype='int64'),
 ('Boulos, Mrs. Joseph (Sultana)',
  3,
  '2678'): Int64Index([140], dtype='int64'),
 ('Bourke, Miss. Mary', 3, '364848'): Int64Index([593], dtype='int64'),
 ('Bourke, Mr. John', 3, '364849'): Int64Index([188], dtype='int64'),
 ('Bourke, Mrs. John (Catherine)',
  3,
  '364849'): Int64Index([657], dtype='int64'),
 ('Bowen, Mr. David John "Dai"', 3, '54636'): Int64Index([624], dtype='int64'),
 ('Bowerman, Miss. Elsie Edith',
  1,
  '113505'): Int64Index([356], dtype='int64'),
 ('Bracken, Mr. James H', 2, '220367'): Int64Index([221], dtype='int64'),
 ('Bradley, Mr. George ("George Arthur Brayton")',
  1,
  '111427'): Int64Index([507], dtype='int64'),
 ('Braund, Mr. Lewis Richard', 3, '3460'): Int64Index([477], dtype='int64'),
 ('Braund, Mr. Owen Harris', 3, 'A/5 21171'): Int64Index([0], dtype='int64'),
 ('Brewe, Dr. Arthur Jackson', 1, '112379'): Int64Index([766], dtype='int64'),
 ('Brocklebank, Mr. William Alfred',
  3,
  '364512'): Int64Index([614], dtype='int64'),
 ('Brown, Miss. Amelia "Mildred"',
  2,
  '248733'): Int64Index([345], dtype='int64'),
 ('Brown, Mr. Thomas William Solomon',
  2,
  '29750'): Int64Index([684], dtype='int64'),
 ('Brown, Mrs. James Joseph (Margaret Tobin)',
  1,
  'PC 17610'): Int64Index([194], dtype='int64'),
 ('Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
  2,
  '29750'): Int64Index([670], dtype='int64'),
 ('Bryhl, Mr. Kurt Arnold Gottfrid',
  2,
  '236853'): Int64Index([728], dtype='int64'),
 ('Burke, Mr. Jeremiah', 3, '365222'): Int64Index([143], dtype='int64'),
 ('Burns, Miss. Elizabeth Margaret',
  1,
  '16966'): Int64Index([337], dtype='int64'),
 ('Buss, Miss. Kate', 2, '27849'): Int64Index([387], dtype='int64'),
 ('Butler, Mr. Reginald Fenton',
  2,
  '234686'): Int64Index([666], dtype='int64'),
 ('Butt, Major. Archibald Willingham',
  1,
  '113050'): Int64Index([536], dtype='int64'),
 ('Byles, Rev. Thomas Roussel Davids',
  2,
  '244310'): Int64Index([149], dtype='int64'),
 ('Bystrom, Mrs. (Karolina)', 2, '236852'): Int64Index([865], dtype='int64'),
 ('Cacic, Miss. Marija', 3, '315084'): Int64Index([534], dtype='int64'),
 ('Cacic, Mr. Luka', 3, '315089'): Int64Index([471], dtype='int64'),
 ('Cairns, Mr. Alexander', 1, '113798'): Int64Index([270], dtype='int64'),
 ('Calderhead, Mr. Edward Pennington',
  1,
  'PC 17476'): Int64Index([707], dtype='int64'),
 ('Caldwell, Master. Alden Gates',
  2,
  '248738'): Int64Index([78], dtype='int64'),
 ('Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
  2,
  '248738'): Int64Index([323], dtype='int64'),
 ('Calic, Mr. Jovo', 3, '315093'): Int64Index([163], dtype='int64'),
 ('Calic, Mr. Petar', 3, '315086'): Int64Index([500], dtype='int64'),
 ('Cameron, Miss. Clear Annie',
  2,
  'F.C.C. 13528'): Int64Index([211], dtype='int64'),
 ('Campbell, Mr. William', 2, '239853'): Int64Index([466], dtype='int64'),
 ('Canavan, Miss. Mary', 3, '364846'): Int64Index([501], dtype='int64'),
 ('Cann, Mr. Ernest Charles',
  3,
  'A./5. 2152'): Int64Index([37], dtype='int64'),
 ('Caram, Mrs. Joseph (Maria Elias)',
  3,
  '2689'): Int64Index([578], dtype='int64'),
 ('Carbines, Mr. William', 2, '28424'): Int64Index([191], dtype='int64'),
 ('Cardeza, Mr. Thomas Drake Martinez',
  1,
  'PC 17755'): Int64Index([679], dtype='int64'),
 ('Carlsson, Mr. August Sigfrid',
  3,
  '350042'): Int64Index([756], dtype='int64'),
 ('Carlsson, Mr. Frans Olof', 1, '695'): Int64Index([872], dtype='int64'),
 ('Carr, Miss. Helen "Ellen"', 3, '367231'): Int64Index([208], dtype='int64'),
 ('Carrau, Mr. Francisco M', 1, '113059'): Int64Index([83], dtype='int64'),
 ('Carter, Master. William Thornton II',
  1,
  '113760'): Int64Index([802], dtype='int64'),
 ('Carter, Miss. Lucile Polk', 1, '113760'): Int64Index([435], dtype='int64'),
 ('Carter, Mr. William Ernest', 1, '113760'): Int64Index([390], dtype='int64'),
 ('Carter, Mrs. Ernest Courtenay (Lilian Hughes)',
  2,
  '244252'): Int64Index([854], dtype='int64'),
 ('Carter, Mrs. William Ernest (Lucile Polk)',
  1,
  '113760'): Int64Index([763], dtype='int64'),
 ('Carter, Rev. Ernest Courtenay',
  2,
  '244252'): Int64Index([249], dtype='int64'),
 ('Cavendish, Mr. Tyrell William',
  1,
  '19877'): Int64Index([741], dtype='int64'),
 ('Celotti, Mr. Francesco', 3, '343275'): Int64Index([89], dtype='int64'),
 ('Chaffee, Mr. Herbert Fuller',
  1,
  'W.E.P. 5734'): Int64Index([92], dtype='int64'),
 ('Chambers, Mr. Norman Campbell',
  1,
  '113806'): Int64Index([724], dtype='int64'),
 ('Chambers, Mrs. Norman Campbell (Bertha Griggs)',
  1,
  '113806'): Int64Index([809], dtype='int64'),
 ('Chapman, Mr. Charles Henry', 2, '248731'): Int64Index([695], dtype='int64'),
 ('Chapman, Mr. John Henry',
  2,
  'SC/AH 29037'): Int64Index([594], dtype='int64'),
 ('Charters, Mr. David', 3, 'A/5. 13032'): Int64Index([421], dtype='int64'),
 ('Cherry, Miss. Gladys', 1, '110152'): Int64Index([257], dtype='int64'),
 ('Chibnall, Mrs. (Edith Martha Bowerman)',
  1,
  '113505'): Int64Index([166], dtype='int64'),
 ('Chip, Mr. Chang', 3, '1601'): Int64Index([838], dtype='int64'),
 ('Christmann, Mr. Emil', 3, '343276'): Int64Index([90], dtype='int64'),
 ('Christy, Miss. Julie Rachel',
  2,
  '237789'): Int64Index([580], dtype='int64'),
 ('Chronopoulos, Mr. Apostolos', 3, '2680'): Int64Index([73], dtype='int64'),
 ('Clarke, Mrs. Charles V (Ada Maria Winfield)',
  2,
  '2003'): Int64Index([426], dtype='int64'),
 ('Cleaver, Miss. Alice', 1, '113781'): Int64Index([708], dtype='int64'),
 ('Clifford, Mr. George Quincy',
  1,
  '110465'): Int64Index([475], dtype='int64'),
 ('Coelho, Mr. Domingos Fernandeo',
  3,
  'SOTON/O.Q. 3101307'): Int64Index([131], dtype='int64'),
 ('Cohen, Mr. Gurshon "Gus"', 3, 'A/5 3540'): Int64Index([204], dtype='int64'),
 ('Coleff, Mr. Peju', 3, '349210'): Int64Index([663], dtype='int64'),
 ('Coleff, Mr. Satio', 3, '349209'): Int64Index([514], dtype='int64'),
 ('Coleridge, Mr. Reginald Charles',
  2,
  'W./C. 14263'): Int64Index([242], dtype='int64'),
 ('Collander, Mr. Erik Gustaf', 2, '248740'): Int64Index([342], dtype='int64'),
 ('Colley, Mr. Edward Pomeroy', 1, '5727'): Int64Index([662], dtype='int64'),
 ('Collyer, Miss. Marjorie "Lottie"',
  2,
  'C.A. 31921'): Int64Index([237], dtype='int64'),
 ('Collyer, Mr. Harvey', 2, 'C.A. 31921'): Int64Index([637], dtype='int64'),
 ('Collyer, Mrs. Harvey (Charlotte Annie Tate)',
  2,
  'C.A. 31921'): Int64Index([801], dtype='int64'),
 ('Compton, Miss. Sara Rebecca',
  1,
  'PC 17756'): Int64Index([835], dtype='int64'),
 ('Connaghton, Mr. Michael', 3, '335097'): Int64Index([749], dtype='int64'),
 ('Connolly, Miss. Kate', 3, '370373'): Int64Index([289], dtype='int64'),
 ('Connors, Mr. Patrick', 3, '370369'): Int64Index([116], dtype='int64'),
 ('Cook, Mr. Jacob', 3, 'A/5 3536'): Int64Index([668], dtype='int64'),
 ('Cor, Mr. Liudevit', 3, '349231'): Int64Index([646], dtype='int64'),
 ('Corn, Mr. Harry', 3, 'SOTON/OQ 392090'): Int64Index([157], dtype='int64'),
 ('Coutts, Master. Eden Leslie "Neville"',
  3,
  'C.A. 37671'): Int64Index([489], dtype='int64'),
 ('Coutts, Master. William Loch "William"',
  3,
  'C.A. 37671'): Int64Index([348], dtype='int64'),
 ('Coxon, Mr. Daniel', 3, '364500'): Int64Index([94], dtype='int64'),
 ('Crease, Mr. Ernest James', 3, 'S.P. 3464'): Int64Index([67], dtype='int64'),
 ('Cribb, Mr. John Hatfield', 3, '371362'): Int64Index([160], dtype='int64'),
 ('Crosby, Capt. Edward Gifford',
  1,
  'WE/P 5735'): Int64Index([745], dtype='int64'),
 ('Crosby, Miss. Harriet R', 1, 'WE/P 5735'): Int64Index([540], dtype='int64'),
 ('Culumovic, Mr. Jeso', 3, '315090'): Int64Index([844], dtype='int64'),
 ('Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  1,
  'PC 17599'): Int64Index([1], dtype='int64'),
 ('Cunningham, Mr. Alfred Fleming',
  2,
  '239853'): Int64Index([413], dtype='int64'),
 ('Dahl, Mr. Karl Edwart', 3, '7598'): Int64Index([338], dtype='int64'),
 ('Dahlberg, Miss. Gerda Ulrika', 3, '7552'): Int64Index([882], dtype='int64'),
 ('Dakic, Mr. Branko', 3, '349228'): Int64Index([687], dtype='int64'),
 ('Daly, Mr. Eugene Patrick', 3, '382651'): Int64Index([510], dtype='int64'),
 ('Daly, Mr. Peter Denis ', 1, '113055'): Int64Index([857], dtype='int64'),
 ('Danbom, Mr. Ernst Gilbert', 3, '347080'): Int64Index([616], dtype='int64'),
 ('Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
  3,
  '347080'): Int64Index([423], dtype='int64'),
 ('Daniel, Mr. Robert Williams',
  1,
  '113804'): Int64Index([607], dtype='int64'),
 ('Danoff, Mr. Yoto', 3, '349219'): Int64Index([321], dtype='int64'),
 ('Dantcheff, Mr. Ristiu', 3, '349203'): Int64Index([794], dtype='int64'),
 ('Davidson, Mr. Thornton', 1, 'F.C. 12750'): Int64Index([671], dtype='int64'),
 ('Davies, Master. John Morgan Jr',
  2,
  'C.A. 33112'): Int64Index([549], dtype='int64'),
 ('Davies, Mr. Alfred J', 3, 'A/4 48871'): Int64Index([565], dtype='int64'),
 ('Davies, Mr. Charles Henry',
  2,
  'S.O.C. 14879'): Int64Index([385], dtype='int64'),
 ('Davis, Miss. Mary', 2, '237668'): Int64Index([635], dtype='int64'),
 ('Davison, Mrs. Thomas Henry (Mary E Finck)',
  3,
  '386525'): Int64Index([347], dtype='int64'),
 ('Dean, Master. Bertram Vere',
  3,
  'C.A. 2315'): Int64Index([788], dtype='int64'),
 ('Dean, Mr. Bertram Frank', 3, 'C.A. 2315'): Int64Index([93], dtype='int64'),
 ('Denkoff, Mr. Mitto', 3, '349225'): Int64Index([335], dtype='int64'),
 ('Dennis, Mr. Samuel', 3, 'A/5 21172'): Int64Index([320], dtype='int64'),
 ('Devaney, Miss. Margaret Delia',
  3,
  '330958'): Int64Index([44], dtype='int64'),
 ('Dick, Mr. Albert Adrian', 1, '17474'): Int64Index([690], dtype='int64'),
 ('Dick, Mrs. Albert Adrian (Vera Gillespie)',
  1,
  '17474'): Int64Index([781], dtype='int64'),
 ('Dimic, Mr. Jovan', 3, '315088'): Int64Index([349], dtype='int64'),
 ('Dodge, Master. Washington', 1, '33638'): Int64Index([445], dtype='int64'),
 ('Doharr, Mr. Tannous', 3, '2686'): Int64Index([568], dtype='int64'),
 ('Doling, Miss. Elsie', 2, '231919'): Int64Index([651], dtype='int64'),
 ('Doling, Mrs. John T (Ada Julia Bone)',
  2,
  '231919'): Int64Index([98], dtype='int64'),
 ('Dooley, Mr. Patrick', 3, '370376'): Int64Index([890], dtype='int64'),
 ('Dorking, Mr. Edward Arthur',
  3,
  'A/5. 10482'): Int64Index([283], dtype='int64'),
 ('Douglas, Mr. Walter Donald',
  1,
  'PC 17761'): Int64Index([544], dtype='int64'),
 ('Dowdell, Miss. Elizabeth', 3, '364516'): Int64Index([79], dtype='int64'),
 ('Downton, Mr. William James', 2, '28403'): Int64Index([582], dtype='int64'),
 ('Drazenoic, Mr. Jozef', 3, '349241'): Int64Index([130], dtype='int64'),
 ('Drew, Mrs. James Vivian (Lulu Thorne Christian)',
  2,
  '28220'): Int64Index([416], dtype='int64'),
 ('Duane, Mr. Frank', 3, '336439'): Int64Index([280], dtype='int64'),
 ('Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
  1,
  '11755'): Int64Index([556], dtype='int64'),
 ('Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
  1,
  'PC 17485'): Int64Index([599], dtype='int64'),
 ('Duran y More, Miss. Asuncion',
  2,
  'SC/PARIS 2149'): Int64Index([866], dtype='int64'),
 ('Edvardsson, Mr. Gustaf Hjalmar',
  3,
  '349912'): Int64Index([675], dtype='int64'),
 ('Eitemiller, Mr. George Floyd',
  2,
  '29751'): Int64Index([658], dtype='int64'),
 ('Eklund, Mr. Hans Linus', 3, '347074'): Int64Index([764], dtype='int64'),
 ('Ekstrom, Mr. Johan', 3, '347061'): Int64Index([129], dtype='int64'),
 ('Elias, Mr. Dibo', 3, '2674'): Int64Index([773], dtype='int64'),
 ('Elias, Mr. Joseph Jr', 3, '2690'): Int64Index([532], dtype='int64'),
 ('Elias, Mr. Tannous', 3, '2695'): Int64Index([352], dtype='int64'),
 ('Elsbury, Mr. William James',

In [15]:
#max ticket
df['Ticket'].max()

'WE/P 5735'

In [16]:
# min ticket
df['Pclass'].min()

1

In [17]:
df[df['Pclass'] == df['Pclass'].min()][['Name','Cabin','Ticket']]

                                                  Name        Cabin    Ticket
1    Cumings, Mrs. John Bradley (Florence Briggs Th...          C85  PC 17599
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)         C123    113803
6                              McCarthy, Mr. Timothy J          E46     17463
11                            Bonnell, Miss. Elizabeth         C103    113783
23                        Sloper, Mr. William Thompson           A6    113788
..                                                 ...          ...       ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          D35     11751
872                           Carlsson, Mr. Frans Olof  B51 B53 B55       695
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)          C50     11767
887                       Graham, Miss. Margaret Edith          B42    112053
889                              Behr, Mr. Karl Howell         C148    111369

[216 rows x 3 columns]

In [18]:
df[df['Ticket']=='LINE']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S

In [19]:
df[df['Fare']==df['Fare'].min()][['PassengerId','Name','Pclass','Fare']]

     PassengerId                              Name  Pclass  Fare
179          180               Leonard, Mr. Lionel       3   0.0
263          264             Harrison, Mr. William       1   0.0
271          272      Tornquist, Mr. William Henry       3   0.0
277          278       Parkes, Mr. Francis "Frank"       2   0.0
302          303   Johnson, Mr. William Cahoone Jr       3   0.0
413          414    Cunningham, Mr. Alfred Fleming       2   0.0
466          467             Campbell, Mr. William       2   0.0
481          482  Frost, Mr. Anthony Wood "Archie"       2   0.0
597          598               Johnson, Mr. Alfred       3   0.0
633          634     Parr, Mr. William Henry Marsh       1   0.0
674          675        Watson, Mr. Ennis Hastings       2   0.0
732          733              Knight, Mr. Robert J       2   0.0
806          807            Andrews, Mr. Thomas Jr       1   0.0
815          816                  Fry, Mr. Richard       1   0.0
822          823   Reuchlin, Jonkheer. John George       1   0.0

In [20]:
df[df['Fare'].apply(lambda x: (x) <= 5)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S

In [21]:
group = df.groupby('Pclass')

In [22]:
group['PassengerId'].count()

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

In [23]:
group.agg(np.size)

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,216.0,216,216,216,216.0,216,216
2,184,184,184,184,184.0,184,184,184,184.0,184,184
3,491,491,491,491,491.0,491,491,491,491.0,491,491